{% extends 'base.html' %}

{% block title %}
    {{ recipe.name }}
{% endblock %}

{% block content %}
    <h1> Detalhes </h1>
        <h2>{{ recipe.name }}</h2>
        <h3>Detalhes</h3>
        <p>{{ recipe.ingredients }}</p>
        <p>{{ recipe.instructions }}</p>
        <p>{{ recipe.created_at|date }}</p>
        <button><a href="{% url 'home-page' %}">Inicio</a></button>
        <br>
        <br>
        <div>
            <button>
                <a href="{% url 'delete_recipe' recipe.id %}">Excluir Receita</a>
            </button>
        </div>
{% endblock %}